@model IEnumerable<DapperSample.Models.Author>

<h1>Authors list</h1>
<div class="table table-responsive">
    <table>
        <thead>
            <tr>
            <td>Id</td>
            <td>Name</td>
            <td>E-mail</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Author item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>