@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View <a asp-area="" asp-controller="Home" asp-action="Authors">authors</a></p>
</div>
